
.homePageSection{
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 90%;
  }
  
  .rightSection{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .mainCafeImage{
    display: block;
    max-width: 80%;
    height: auto;
    margin: 0;
    border: 1px solid rgb(193, 199, 193);
  }
  
  
  .rightSection .child{
    
  }
  

  @media (max-width: 860px){
    .mainCafeImage{
      display: none;
    }

    .rightSection{
      padding: 10px;
      border: .5px solid rgb(193, 199, 193);
    }
    .rightSection .child{
      margin: 20px 0 20px 0;
    }



  }
  
  
  
  