*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

/* HEADER SECTION START */
body{
  background-image: url("./assets/main-background.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header{
    text-align: center;
}

nav{
    display: flex;
    gap: 7%;
    justify-content: center;
    margin: 20px 0 40px 0;
}

main{
  width: 80%;
  margin: auto;
}

.restaurantTitle{
    font-size: 6rem;
    font-family: cursive;
}

/* HEADER SECTION END */



/* FOOTER SECTION */
.footer-container{
  padding: 10px 0px 5px 0px;
  font-size: 20px;
  text-align: center;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1%;
}
.gitLink {
  text-decoration: none;
}

.gitLink:hover{
  color: blue;
}

/* BUTTON STYLING START*/

.nav-button {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 7px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.nav-button:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.nav-button:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

/* BUTTON STYLING END */


/* MEDIA QUERY START */
