.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minMax(25rem, 1fr));
    align-items: center;
    justify-items: center;
    row-gap: 25px;

}

.menu-item{
    
    width: 300px;
    border: 3px solid rgb(193, 199, 193);
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: black;
    padding-bottom: 3px;
}

.menu-item-image{
    height: 250px;
}